body {
    background-color:#e6ecf1
}
.app-list{
    margin-left:40px;
}
.app-list dl{
    display:inline;
    opacity:1;
    float:left;
    width:400px;
    height:330px;
    overflow:hidden;
    margin:0 10px 15px;
    border:2px solid #e4e4e4;
    border-radius:2px;
    background:#FDFDFD;
    text-align:center;
    zoom:1;
    padding-top:6px;
    font-size:12px
}
.app-list a{
    cursor:pointer;
}
.app-list dl:hover{
    border:2px solid #2DC3E8
}
.app-list dt {
    position:relative;
    height:250px;
    width:400px;
    /*-webkit-transition:all ease-in-out .4s;*/
    /*-moz-transition:all ease-in-out .4s;*/
    /*-ms-transition:all ease-in-out .4s;*/
    /*-o-transition:all ease-in-out .4s;*/
    /*transition:all ease-in-out .4s;*/
    overflow:hidden
}
.app-list-android{
    overflow:hidden;
    zoom:1
}
.app-list dt .app-detail{
    position:absolute;
    top:5px;
    left:10px;
    height: 30px;
}
.app-list dt .app-detail span{
    font-size:16px;
    color:#444;
    margin-left:38px;
    line-height:32px;
    position:absolute;
    max-width:180px;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-block;
    white-space:nowrap
}

.app-detail .ico-appdel{
    position:absolute;
    left:345px;
    opacity:0
}
.ico-appdel{
    display:block;
    width:32px;
    height:25.5px;
    top:5px;
    cursor:pointer
}
.icoShow{
    width:32px;
    height:32px;
    position:absolute
}
.app-list dt .scanfinish{
    position:relative;
    top:50px;
    width: 400px;
    height: 200px;
}

.app-list dl:hover .ico-appdel{
    opacity:1
}
.app-list dd{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;

}
.app-info{
    width:400px;
    height:85px;
    left: 0px;
    background: #f7f8fa
}
.app-info ul{
    clear:both;
    padding-top:10px;
    padding-left: 0px;
}
.app-info li{
    display:inline-block;
    width:90px;
    color:#66707f;
    padding-left: 10px;
    font-size:16px;
}

.app-info span{
    display:block;
    padding-top:4px;
    font-size:14px;
    line-height:20px;
}
.app-info span.none{
    color:#939394;
    cursor:default
}
.app-info span.none:hover{
    text-decoration:none;
    color:#939394
}
.app-info span.safe{
    color:#59b71c
}
.app-info a span.safe:hover{
    text-decoration:underline;
    color:#59b71c;
}
.app-info span.midDanger{
    color:#F9980D
}
.app-info span.midDanger:hover{
    color:#F9980D;
    text-decoration:underline;
}
.app-info a span.highDanger{
    color:#D53E23;
}
.app-info a span.highDanger:hover{
    text-decoration:underline;
    color:#D53E23;
}
.app-disable{
    opacity:.4;
    filter:alpha(opacity=40)
}
.app-list dt .scaning{
    position:relative;
    top:50px;
    height:200px;
}
.noScanIco{
    width: 300px;
    height: 170px;
}
.app-list dt .scaning span{
    font-size:30px;
    color:#a1aecd
}